.form-input {
    padding: 9px 15px; 
    border: 1px solid rgb(179, 179, 179); 
    border-radius: 5px; 
    width: calc(100% - 30px);
    font-size: 14px;  
}

.form-validation {
    margin-left: 10px; 
    color: rgb(180, 63, 63); 
}