.board { 
    display: flex; 
    align-items: top;
    padding: 140px 100px;
    background-image: url('../../images/background.jpg');  
}


@media screen and (max-width: 1200px) {
    .board  { 
        display:block; 
    }
}

@media screen and (max-width: 600px) {
    .board  { 
        padding: 89px 0px 0px; 
    }
}