.board-selector {
    border: 1px solid rgb(64, 64, 78);
    background-color: rgb(98, 97, 119); 
    border-radius: 0px; 
    color: white; 
    padding: 20px 40px;
    font-size: 16px; 
    line-height: 16px;
    transition: 1s;  
    overflow: auto; 
}
.board-selector:hover {
    background-color: rgb(79, 79, 94); 
    cursor: pointer; 
}

.board-selector-p {
    padding-top: 10px; 
    margin: 0px;
    display: inline-block;  
}

.board-selector-delete-button {
    padding: 9px 25px; 
    border: 1px solid rgb(78, 64, 64);
    background-color: rgb(163, 94, 94); 
    border-radius: 5px; 
    color: white; 
    transition: 0.3s;
    font-size: 14px; 
    cursor: pointer; 
    float: right;
    margin: 0px; 
    transition: 0.3s;      
}

.board-selector-delete-button:hover {
    background-color: rgb(131, 84, 84); 
}

