.board-selector {
    border: 1px solid rgb(64, 64, 78);
    background-color: rgb(98, 97, 119); 
    border-radius: 0px; 
    color: white; 
    padding: 20px 40px;
    font-size: 16px; 
    line-height: 16px;
    transition: 1s;   
}
.board-selector:hover {
    background-color: rgb(79, 79, 94); 
    cursor: pointer; 
}

.board-selector-p {
    padding: 0px; 
    margin: 0px; 
}