.header {
    width: calc(100% - 120px); 
    position: fixed; 
    background-color: rgb(21, 16, 36); 
    top: 0px; 
    z-index: 30;
    padding: 30px 60px;  
    color: white; 
    opacity: 1; 
}

.header-logo {
    font-family: 'Lobster', cursive;
    font-size: 24px; 
    margin: 0px;
}

.header-button { 
    position: absolute; 
    top: 7px;
    right: 60px;   
}