.login-main {
    width: 50%; 
    max-width: 300px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgb(211, 211, 211); 
    padding: 50px; 
    z-index: 21;
    color: rgb(68, 68, 68);
    transition: 1s;
    box-shadow: 0px 0px 40px rgb(29, 29, 29); 
    border-radius: 3px;
    transition: 0.3s;   
}

.login-p {
    line-height: 22px; 
}

.login-input {
    padding: 9px 15px; 
    border: 1px solid rgb(175, 175, 175); 
    border-radius: 5px; 
    width: calc(100% - 30px);
    font-size: 14px;
    margin-bottom: 20px;   
}

.login-question {
    margin-bottom: 10px; 
}

.login-question-label {
    position: relative; 
    top: 2px; 
}

.login-title {
    margin-top: 0px;
    margin-bottom: 30px;  
}

.login-subtext {
    color: rgb(85, 85, 85); 
    text-align:center;  
}

.login-button {
    margin-top: 30px; 
    margin-bottom: 10px; 
    color: white; 
    background-color: rgb(49, 49, 58); 
    padding: 20px 15px; 
    width: 100%; 
    font-size: 17px;
    border-radius: 5px;  
    transition: 0.6s; 
    cursor: pointer; 
}

.login-button:hover {
    background-color: rgb(31, 31, 36); 
} 

.login-link {
    text-decoration: underline;
    cursor: pointer;  
}

.login-form {
    margin-top: 30px; 
}

.login-close {
    float: right; 
    opacity: 0.6; 
    font-size: 20px; 
    position: relative; 
    top: -18px; 
    right: -10px; 
    transition: 0.3s; 
    cursor: pointer;
}

.login-close:hover {
    opacity: 0.8; 
}

.login-wrong-response {
    text-align: center; 
    color: rgb(148, 77, 77); 
}

.login-right-response {
    text-align: center; 
    color: rgb(90, 143, 108); 
}

.login-score {
    text-align: center; 
    margin-top: 20px; 
}

